.btn-reg{
     position: relative;
     left: 470px;
      top:130px;
}
.img-home{
    position: relative;
    top:120px;
     left: 320px;
}
.btn-taketest{
    padding: 6px 12px;
     position: relative;
    left: 10px;
}

.btn-checkscore{
    background-color: dodgerblue;
    display: inline-block;
    padding: 6px 12px;      
}
.home-background{
    background-color: lightgrey;
    position: fixed;
    height: 1000px;
    width: 1050px;
   
}
.register-box{
    width: 450px;
    height: 258px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
     text-align: center;
}
.register-box-body{
    color:black;
    background:lightgray;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 20px;

}

.btn-calscore{
  position: relative;
     left: 470px;
      top:100px;
}
.form-group-test{
    text-align: center;
}
.errmsg{
 color: red;
}
.align-q{
    position: relative;
   text-align: left;
   left: 80px;
}
.test-head{
    -webkit-text-fill-color: green;
}