<b>Welcome to challenge 002</b>

<div id="challenge">
    
    <p>
Write a Go program to find the count of prime numbers less than N <br>
use M number of go routines to distribute the job
 </p>
 ex: Count Prime less than 10 is 4 (2,3,5,7) <br>

Find the count when N = 10000 
and M = 10
   
</div>

 {{partial 'submitchallenge'}}