<b>Welcome to challenge 002</b>

<div id="challenge">
    
Download the following text file and Write a go code to read the file
and get the character count int the file
    <a href = "http://www.loremipsum.de/downloads/original.txt" download> click here to download </a>

   
</div>

 {{partial 'submitchallenge'}}
