 <div class="col-sm-12">
         <div class="form-group">
            <br>
            <label class="col-sm-4">Question</label>
            <div class="input-group">
               {{validated-input type="text" model=this valuePath='question' placeholder='Question'}}
            </div>
            <br>
         </div>
          <label class="col-sm-4"></label>
          <div class="input-group">
             {{validated-input type="text" model=this valuePath='option1' placeholder='Option1'}}
             </div>
         </div>