<div class="instructions">
    <h2>Acknowledgement</h2>
    <br>
    <h2>Instruction:</h2> Total number of questions : 20.
    <br> Time alloted : 30 minutes.
    <br> Each question carry 1 mark, no negative marks.
    <br> DO NOT refresh the page.
    <br> All the best
    <br>
    <br>
    <input type="checkbox">I agree with terms and conditions
    <br>
    <br>
</div>
<div class="submitagreement">
    <button type="button" class="btn btn-default btn-sm" {{action "submit"}}>
        <span class="glyphicon glyphicon-submit"></span> submit</button>
</div>