<br>
<div class= "Instructions">
<h3>Instructions:</h3>

<p> 
<b >Before beggining the Test </b>
   
<ol type="1">
    <li class="agreementNoClr"> Make sure you are register yourself with portal.</li>
    <li class="agreementNoClr"> After Register,Login into portal. </li>
    <li class="agreementNoClr"> Close all other tabs before starting test. </li>
    <li class="agreementNoClr"> Maximize your screen window before starting test to get proper view. </li>
    <li class="agreementNoClr"> Do not change selection  of test once you have selected test,it will not give u desired test.</li>
</ol>
</p>
 
<p>
<b> During the test </b>
<ol type="1">
    <li class="agreementNoClr"> Once you get test question timer will start automatically and once time is over you will get score directly for that particular test.</li>
    <li class="agreementNoClr"> If you finish your test within given time click on submit button to get score. </li>
    <li class="agreementNoClr"> Never click “back” or “refresh” during test it will wipe all your earlier test answers and you have to start fresh test. </li>
    <li class="agreementNoClr">Click “submit” button to submit your test answers to get score. Do not press “enter” from keyboard to submit your test. </li>
</ol>
</p>   

<p>
<b> Instructions for accessing test </b>
<ol type="1">
    <li class="agreementNoClr"> Read the notes above titled “Befor beggining the test” and “During the test”.</li>
    <li class="agreementNoClr"> Login in portal to start test. </li>
    <li class="agreementNoClr"> Do not start test until you are absolutely ready to start! </li>
    <li class="agreementNoClr"> You will have 20 minutes to complete “Fundamental” test and  30 minutes to complete “java” and “language” test. </li>
    <li class="agreementNoClr"> The exam must  be completed in one sitting.You can only open it once. </li>
    <li class="agreementNoClr"> Answer all the questions in test. </li>
    <li class="agreementNoClr"> No negative marking. </li>
    <li class="agreementNoClr"> Click “submit” button after completing test to get score </li>
</ol>
</p>

<p> If you face any issues during test you can contact us. </p>
<p align="center">    All the Best !! </p>

    {{input type="checkbox" checked=selectedvalue}}
     I agree with terms and conditions<br> <br>

    {{#if selectedvalue}} 
        <div class="submitagreement">
    <button type="button" class="btn btn-primary" {{action "submit"}}>
        <span class="glyphicon glyphicon-submit"></span> Submit</button>
</div>

    {{/if}}
 

<!--<input type="checkbox">I agree with terms and conditions<br><br> -->
</div>
