<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        <li>{{ link-to 'Home' 'home'}}</li>
        <li>{{ link-to 'Test' 'test'}}</li>
        <li>{{ link-to 'Take a Challenge' 'challenge'}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="position: relative">
  <div class="row">
    <div class="col-sm-12">
      {{outlet}}
    </div>
  </div>
</div>