<nav class=" navbar-inverse ">
  
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        <li>{{ link-to 'Home' 'home'}}</li>
        <li>{{ link-to 'Test' 'test'  disabled=true}}</li>
        <li>{{ link-to 'Take a Challenge' 'challenge'}}</li>
      </ul>
    </div>

</nav>

  <div class="row">
    <div class="col-sm-12">
      {{outlet}}
    </div>
  </div>