<div id="mySidenav" class="col-sm-3 col-md-2 sidebar">
  
    <ul class="nav nav-sidebar">
    
        <li>{{#link-to 'challenge.ch001'}}CH001{{/link-to}}</li>
        <li>{{#link-to 'challenge.ch002'}}CH002{{/link-to}}</li>
        <li>{{#link-to 'challenge.ch003'}}CH003{{/link-to}}</li>
      
    </ul>
  
</div>
<div id="content" class="col-sm-3 col-md-6">
    {{outlet}}
</div>