<div class="home-background">
    <div class="img-home">
        <img src="../assets/images/home_backgroud_mocktest.jpg" />
    </div>
    <br>
    <br>
    <p>
        <div class="btn-register">
            <button type="submit" {{action 'register'}}>Register</button>
        </div>
    </p>
</div>