<div class="home-background">
    <img src="../assets/images/home_backgroud_mocktest.jpg" />
    <br><br>
    <p>
        <div class="btn-register">
        <button type="submit"  {{action 'register'}}>Register</button>
        </div>
    </p>
</div>