<div class="home-background">
    <div class="img-home">
        <img src="../assets/images/home_backgroud_mocktest14.jpg" width="100%" height="400px" class="imagesize" />
    </div>
    <br>
    <br>
    <p>
        <div class="btn-reg">
            <button type="button" class="btn btn-primary" {{action 'register'}}>Register</button>
        </div>
    </p>
</div>