<div class="form-group">
    <label for="firstname">First Name</label>
    {{input type="text" class="form-control" id="fname" placeholder="First Name"}}
</div>

<div class="form-group">
    <label for="lastname">Last Name</label>
    {{input type="text" class="form-control" id="lname" placeholder="Last Name"}}
</div>