<div class="align-q">
<div class="test-head">
<h4>Please Start with Test {{testtype}}</h4> 
</div>
<br> {{#each model as |item|}} {{question-comp Ques=item}}
<br> {{/each}}
</div>
<div class="btn-calscore">
<button type="button" class="btn btn-primary" {{action 'getScore'}}>Calculate Score</button>
 
</div>
