<h3> {{testtype}} </h3>

<br> {{#each model as |item|}} {{question-comp Ques=item}}
<br> {{/each}}
<div class="btn-calscore">
<button type="submit" {{action 'getScore'}}>Calculate Score</button>
</div>