<div>
<div class="align-q">
<div class="test-head">
<h4>Please Start With {{testType}} Test..!!</h4> 
</div>
<br> {{#each model as |item|}} {{question-comp Ques=item}}
<br> {{/each}}
</div>

<div class="btn-calscore">
    
<button type="button" class="btn btn-primary" {{action "toggleModal"}}>Calculate Score</button>
</div>

{{#if isShowingModal}}
  {{#modal-dialog  targetAttachment="center" translucentOverlay=true}}
    <div>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
       when an unknown printer took a galley of type and scrambled it to make a<br>
        type specimen book. It has survived not only five centuries, but also the leap into<br>
         electronic typesetting, remaining essentially unchanged. It was popularised<br>
          in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,<br>
           and more recently with desktop publishing software like Aldus PageMaker
           including versions of Lorem Ipsum<br>
    </div>
  {{/modal-dialog}}
{{/if}}
</div>