<div>
<div class="align-q">
<div class="test-head">
<h4>Please Start With {{testType}} Test..!!</h4> 
</div>
<br> {{#each model as |item|}} {{question-comp Ques=item}}
<br> {{/each}}
</div>

<div class="btn-calscore">
    
<button type="button" class="btn btn-primary" {{action "toggleModal"}}>Calculate Score</button>
</div>

{{#if isShowingModal}}
  {{#modal-dialog  targetAttachment="center"}}
    Oh hai there!
  {{/modal-dialog}}
{{/if}}
</div>