<div class="home-background">
<br>
<div class="form-group-test">

    <div>
        <h3 class="text-color">Choose Your Test..!!</h3><br><br>
        <br> {{select-component dropdowntype="test" listitem=testlist selecteditemlist=selectedtest}}
        <span class="errmsg">{{errorMessage}}</span>
    </div>
    <br>
    <br>
    <br>
    <br>

    <button type="button" class="btn btn-primary" {{action 'questionlist'}}>Start Test</button>


</div>
</div>
 <div class = "logout">
<button type="button" class="btn btn-default btn-sm"{{action "log_out1"}}>
          <span class="glyphicon glyphicon-log-out"></span> Log out</button>
        </div>