<br>
<div class="form-group-test">

    <div>
        <h3>Choose Your Test..!!</h3><br><br>
        <br> {{select-component dropdowntype="test" listitem=testlist selecteditemlist=selectedtest}}
        <span class="errmsg">{{errorMessage}}</span>
    </div>
    <br>
    <br>
    <br>
    <br>

    <button type="button" class="btn btn-primary" {{action 'questionlist'}}>Start Test</button>


</div>