

<div class="form-group">

<div>
        {{select-component dropdowntype="test" listitem=testlist selecteditem=selectedtest}}
</div>
<br><br><br><br>
<div class="btn-starttest">
<button type="submit"  {{action 'questionlist'}}>Start Test</button>
</div>


</div>

