
<br>
<div class="form-group-test">
<h4>Thank you For Registration...!!!</h4>
<div>
    <br>
{{select-component dropdowntype="test" listitem=testlist selecteditem=selectedtest}}
</div>
<br><br><br><br>
<div class="btn-starttest">
<button type="submit" {{action 'questionlist'}}>Start Test</button>
</div>

</div>

